@font-face {
  font-family: 'icomoon';
  src:  url('~d-ui/src/fonts/icomoon.eot?kul29o');
  src:  url('~d-ui/src/fonts/icomoon.eot?kul29o#iefix') format('embedded-opentype'),
  url('~d-ui/src/fonts/icomoon.ttf?kul29o') format('truetype'),
  url('~d-ui/src/fonts/icomoon.woff?kul29o') format('woff'),
  url('~d-ui/src/fonts/icomoon.svg?kul29o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
